@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');
html{
  overflow-x: hidden;
  scroll-behavior: smooth;

}
::-webkit-scrollbar{
  width: 2px !important;
}

::-webkit-scrollbar-thumb{
  /* border-top-left-radius: 10px; */
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  /* border-bottom-right-radius: 10px; */
  background-color: #dd1b16;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(81, 73, 94, 0.7);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

